<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MM | Matute Martinez</title>

    <link rel="stylesheet" href="../../components/styles/style.css">
    <link rel="stylesheet" href="../../components/styles/navbar.css">
    <link rel="stylesheet" href="../../components/styles/eslogan.css">
    <link rel="stylesheet" href="../../components/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <a href="../../../index.html">
                <svg width="70" height="40" viewBox="0 0 244 118" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d)">
                    <path d="M113.396 5.35199V2.85199H110.896H96.928H95.3079L94.6461 4.33072L60.064 81.6001L25.4819 4.33072L24.8201 2.85199H23.2H9.08801H6.58801V5.35199V105V107.5H9.08801H22.192H24.692V105V42.2756L53.1735 106.02L53.8348 107.5H55.456H64.672H66.2948L66.9554 106.018L95.292 42.4453V105V107.5H97.792H110.896H113.396V105V5.35199ZM237.427 5.35199V2.85199H234.927H220.959H219.339L218.677 4.33072L184.095 81.6001L149.513 4.33072L148.851 2.85199H147.231H133.119H130.619V5.35199V105V107.5H133.119H146.223H148.723V105V42.2756L177.205 106.02L177.866 107.5H179.487H188.703H190.326L190.987 106.018L219.323 42.4453V105V107.5H221.823H234.927H237.427V105V5.35199Z" stroke="#64FFDA" stroke-width="5"/>
                    </g>
                    <defs>
                    <filter id="filter0_d" x="0.0880127" y="0.35199" width="243.839" height="117.648" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    </defs>
                    </svg>
            </a>
        </div>


        <input type="checkbox" id="check">
        <label for="check" id="icon">
            <i class="fa fa-th-large"></i>
        </label>


        <ul class="listaMenu">
            <li><a class="menuChild first" href="../../../index.html">Inicio</a></li>
            <li><a class="menuChild second" href="#about">Sobre mi</a></li>
            <li><a class="menuChild third" href="#skills">Skills</a></li>
            <li><a class="menuChild fourth" href="#projects">Proyectos</a></li>
            <li><a class="menuChild fifth" href="#contact">Contacto</a></li>
        </ul>
        
    </nav>

    <main>
        <!-- eslogan -->
        <section class="eslogan">
            <div class="header">
                <h1 class="sloganText anim-slogan">I make code works and brands grow.</h1>
            </div>
            <div class="scroll-down"></div>
        </section>

        <!-- about -->
        <section class="about" id="about">
            <div>
                <h3 class="encabezado">Sobre mi</h3>
            </div>
            <div id="me">
                <div class="infoAboutMe">
                    <div class="meText">
                        <p class="wow fadeIn">
                            ¡Hola! Soy Matias Martinez, Desarrollador Web y estudiante de Sistemas.
                        </p>
                        <p class="wow fadeIn">
                            Amo la tecnología, los deportes, el mate y el trabajo en equipo. Disfruto crear cosas en internet, cosas como webs o apps. Me encanta desarrollar soluciones prácticas, efectivas, limpias y leíbles.
                        </p>
                        <p class="wow fadeIn">
                            Comencé a programar a finales de 2019. Me recibí como Desarrollador Web FullStack en Acámica y estoy cursando la carrera de Analista de Sistemas. Te invito a pasarte por mi <a href="https://github.com/martinezmatias0902" target="_blank">GITHUB</a>                            para que veas en lo que estuve trabajando.
                        </p>
                        <p class="wow fadeIn">
                            Antes de entrar en Sistemas trabajé como profesor de inglés en la Universidad Nacional de la Matanza y como Instructor Bilingue en COPIJSUD.
                        </p>

                        <p class="wow fadeIn">
                            Aquí estan algunas tecnologías con las que estuve trabajando:
                        </p>
                    </div>

                    <div id="skills">
                        <ul class="skillsList">
                            <div class="left">
                                <li>Javascript</li>
                                <li>Node.js</li>
                                <li>MySQL</li>
                                <li>Python</li>
                            </div>
                            <div class="rigth">
                                <li>GIT</li>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>React.js (básico)</li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="imageContainer">
                    <img src="../../../content/images/mati_arena.jpg" alt="Me" width="100%">
                </div>
            </div>
        </section>

        <!-- projects -->
        <section class="about" id="projects">
            <div class="containerProjects">
                <h3 class="encabezado proyectoTitle">Proyectos </h3>
                <!-- Proyecto 1 -->
                <div class="projectStyle">
                    <div class="projectText">
                        <h2>Delilah Restó</h2>
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ad quisquam officiis eum ipsum odit aliquid labore qui ab numquam molestias quas recusandae beatae delectus culpa officia quaerat, impedit fuga.
                            </p>
                        </div>
                        <a href="">Código</a>
                        <a href="">Web</a>
                    </div>
                    <div class="projectImage">
                        <img src="../../../content/images/delilahResto.png" alt="delilahResto" width="100%">
                    </div>
                </div>
                <!-- Proyecto 2 -->
                <div class="projectStyle">
                    <div class="projectText">
                        <h2>gifOS</h2>
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ad quisquam officiis eum ipsum odit aliquid labore qui ab numquam molestias quas recusandae beatae delectus culpa officia quaerat, impedit fuga.
                            </p>
                        </div>
                        <a href="">Código</a>
                        <a href="">Web</a>
                    </div>
                    <div class="projectImage">
                        <img src="../../../content/images/gifos.png" alt="delilahResto" width="100%">
                    </div>
                </div>
                <!-- Proyecto 3 -->
                <div class="projectStyle">
                    <div class="projectText">
                        <h2>Podcast Channel</h2>
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ad quisquam officiis eum ipsum odit aliquid labore qui ab numquam molestias quas recusandae beatae delectus culpa officia quaerat, impedit fuga.
                            </p>
                        </div>
                        <a href="">Código</a>
                        <a href="">Web</a>
                    </div>
                    <div class="projectImage">
                        <img src="../../../content/images/delilahResto.png" alt="delilahResto" width="100%">
                    </div>
                </div>

            </div>
        </section>

        <!-- contact info -->
        <section class="contact" id="contact">
            <div class="header wow fadeInUp">
                <h3>Code is like humor. When you have to explain it, it’s bad.</h3>
            </div>

            <div class="info wow fadeInUp">
                <p>Estoy en busca de un equipo que me pueda enseñar, guiar e instruir. El alumno está listo para innovar en soluciones tecnologicas.
                </p>
            </div>
        </section>
    </main>

    <script src="../../scripts/navbar.js"></script>
</body>

</html>

</html>