
.about {
  align-items: center;
  position: relative;
  margin: 0 90px;
}

h3 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: var(--font-Calibre);
}
.encabezado::before {
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-family: var(--font-SFMono), monospace;
  font-weight: normal;
  color: rgb(100, 255, 218);
  font-size: 20px;
  position: relative;
  top: -4px;
}
.encabezado {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: 32px;
  margin: 10px 0px 40px;
}

.encabezado::after {
  content: "";
  display: block;
  height: 1px;
  width: 45%;
  background-color: rgb(48, 60, 85);
  position: relative;
  margin-left: 20px;
  top: -3px;
}


#me {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
}

.infoAboutMe {
  width: 60%;
  max-width: 480px;
}

.meText {
  font-family: var(--font-Calibre);
  color: var(--color-Slate);
  font-size: 20px;
}

.meText p {
  margin: 0px 0px 15px;
}

.meText p a {
  z-index: 1;
  text-transform: uppercase;
  color: var(--color-Green);
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  overflow: hidden;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
  font-family: var(--font-Calibre);
  color: var(--color-LightestSlate);
  font-size: 20px;
}

.skillsList li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

.skillsList li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: rgb(100, 255, 218);
  font-size: 20px;
}


.imageContainer {
  line-height: 400px;
  margin: 0px auto;
  text-align: center;
  max-width: 300px;
  line-height: 400px;
}

.imageContainer img {
  border-radius: 10px;
  box-shadow: 6px 6px 13px var(--color-Green);
}


/* Proyectos CSS */

/* Titulo */
.containerProjects h3 {
  padding-top: 150px;
}

.proyectoTitle::before {
  counter-increment: section 2;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-family: var(--font-SFMono), monospace;
  font-weight: normal;
  color: rgb(100, 255, 218);
  font-size: 20px;
  position: relative;
  top: -4px;
}

/* Estilo seccion proyectos */
.projectStyle {
  padding-bottom: 60px;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}
/* Texto */

.projectText {
  max-width: 45%;
  margin: 20px 20px 20px 0;
}

.projectText h2 {
  color: var(--color-Green);
}

.projectText div {
  font-family: var(--font-Calibre);
  color: var(--color-LightSlate);
  font-size: 20px;
}

.projectSkills li::before {
  content: "»";
  position: absolute;
  left: 0px;
  color: rgb(100, 255, 218);
  font-size: 20px;
}

.boton {
  text-align: center;
  padding: 7%;
}

.irCodigo {
  left: -3rem;
  color: var(--color-LightSlate);
  font-size: 18px;
  padding: 0.5em 1.2em;
  position: relative;
  border: 2px solid var(--color-lightNavy);
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  font-family: var(--font-SFMono);
}
.irCodigo:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px var(--color-Slate);
}

/* imagenes */

.projectImage {
  line-height: 400px;
  margin: 0px auto;
  text-align: center;
}


.projectImage img {
  border-radius: 10px;
  box-shadow: 6px 6px 13px var(--color-Green);
  width: 100%;
  max-width: 500px; 
  height: 275px; 
  vertical-align: middle; 
  transition: transform .5s;
}

.projectImage img:hover {
  transform: scale(1.5);
}
/* Imagenes podcast son 2 */

.podcast {
  display: flex;
  line-height: 400px;
  margin: 0px auto;
  text-align: center;
}
.podcastImg {
  width: 175px;
  height: 315px;
  margin-left: 5rem;
  border-radius: 10px;
  box-shadow: 6px 6px 6px var(--color-Green);
  transition: transform .5s;
}
.podcastImg:hover {
  transform: scale(1.5);
}

/* seccion contacto */
/* #contact {
  margin-top: 150px;
} */

/* seccion certificaciones */

.certifsTitle::before {
  counter-increment: section 3;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-family: var(--font-SFMono), monospace;
  font-weight: normal;
  color: rgb(100, 255, 218);
  font-size: 20px;
  position: relative;
  top: -4px;
}

.certifs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  padding: 30px 0;
  width: 100%;
  height: auto;
  grid-gap: 1.5%;
}

.certifs img {
  height: auto;
  width: 100%;
  display: block;
  opacity: 1;
  transition: transform 1s;
}

.certifs img:hover {
  transform: scale(1.5);
}

/* Contact me part */

.contactoTitle::before {
  counter-increment: section 4;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-family: var(--font-SFMono), monospace;
  font-weight: normal;
  color: rgb(100, 255, 218);
  font-size: 20px;
  position: relative;
  top: -4px;
}

.contact-me .social {
  z-index: 100;
  /* display: -ms-grid; */
  display: grid;
  /* -ms-grid-columns: 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  /* -ms-grid-rows: 1fr 1fr 1fr; */
  grid-template-rows: 1fr;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  grid-gap: 5vw;
  width: fit-content;

}
.contact-title h3 {
  margin-bottom: 0;
  font-family: var(--font-SFMono);
  font-weight: lighter;
  font-size: 2rem;
  letter-spacing: -2px;
  color: var(--color-LightestSlate);

}
#quote {
  color: var(--color-Slate);
  font-family: var(--font-SFMono);
  font-size: 1.4vw;
  text-align: center;
}

#contact-me-content {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
}

.contact-me .social .con a {
  align-self: center;
}

.contact-me .social i{
  position: relative;
  width: 3vw;
  height: 3vw;
  color: var(--color-Green);
}

.contact-title {
  text-align: center;
  font-size: 3.8vw;
  font-family: Nunito;
  letter-spacing: -0.2vw;
  padding-top: 3vw;
}

#email {
  margin-top: 5%;
}

#email span {
  font-family: var(--font-Calibre);
  color: var(--color-White);
}


/* Footer section */

footer {
  width: 100%;
  display: block;
  background: var(--color-lightNavy);
  border-top: 1px solid;
  color: var(--color-Slate);
  font-family: var(--font-Calibre);
  font-size: 1.4vw;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}



@media (max-width: 859px) {
  .img2 {
    display: none;
  }
  .about {
    margin: 0 1rem;
  }
  .infoAboutMe {
    width: 100%;
  }
  .imageContainer {
    line-height: 0px;
    margin-top: 20px;
  }
  #me {
    display: block;
  }
  .imageContainer img {
    box-shadow: none;
  }
  .projectStyle {
    display: block;

  }
  .projectText {
    max-width: 100%;
    width: 100%;
  }
  .irCodigo {
    left: 0;
  }
  .projectImage img {
    box-shadow: none;
  }
  .img1 {
    box-shadow: none;
  }
  .img1 {
    margin: 0;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .certifs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
  }
  .certifs img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  #quote {
    font-size: 12px;
  }
  #email {
    font-size: 17px;
  }
  .contact-me .social i {
    width: 8vw;
    height: 8vw;
  }
}