/* Utility Fonts */
@font-face {
  font-family: "Calibre";
  src: url("../fonts/Calibre/Calibre-Regular.woff2") format("woff2"),
    url("../fonts/Calibre/Calibre-Regular.woff") format("woff"),
    url("../fonts/Calibre/Calibre-Regular.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "SF Mono";
  src: url("../fonts/SFMono/SFMono-RegularItalic.woff2") format("woff2"),
    url("../fonts/SFMono/SFMono-RegularItalic.woff") format("woff"),
    url("../fonts/SFMono/SFMono-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Variables */
:root {
  --font-Calibre: "Calibre";
  --font-SFMono: "SF Mono";
  --color-Navy: #0a192f;
  --color-lightNavy: #172a45;
  --color-LightestNavy: #303c55;
  --color-Slate: #8892b0;
  --color-LightSlate: #a8b2d1;
  --color-LightestSlate: #ccd6f6;
  --color-White: #e6f1ff;
  --color-Green: #64ffda;
}

/* Global Styles */
html {
  box-sizing: border-box;
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--color-Navy);
  color: var(--color-Green);
  line-height: 1.3;
  font-size: 24px;
}

::selection {
  background-color: var(--color-Slate);
  color: var(--color-LightSlate);
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}